<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    {% set route = app.request.attributes.get('_route') %}

    <ul class="nav navbar-nav">
              <li {{ route ==  'homepage' ? 'class="active"' }}><a href="{{ path('homepage') }}">Home</a></li>

      <li {{ route ==  'create_product' ? 'class="active"' }}><a href="{{ path('create_product' ) }}">Create Product</a></li>
      <li {{ route ==  'products' ? 'class="active"' }}><a href="{{ path('products' ) }}">Products</a></li>
      {#<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact' ) }}">Contact Us</a></li>
      <li {{ route ==  'contacts' ? 'class="active"' }}><a href="{{ path('contacts' ) }}">Contacts</a></li>#}
      {%if app.user %}
            <li {{ route ==  'logout' ? 'class="active"' }}><a href="{{ path('logout' ) }}">Logout</a></li>
             
      {% else %}
                <li {{ route ==  'login' ? 'class="active"' }}><a href="{{ path('login' ) }}">Login</a></li>

      {% endif %}

    </ul>
  </div>
</nav>
    
    